// Button styling

button {
    border: none;
}

.newItemButton {
    background: white;
    color: $primary;
    padding: 15px 20px;
    border-radius: 15px;
    font-weight: 600;
}

.deleteButton {
    padding: 15px;
    margin: 0 20px;
    background: none;
    color: $primary;
    font-size: 2rem;
}