// General styling of fonts and colours

$primary: rgb(32,75,144);

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: rgb(80, 80, 80);
}

.App {
    background: $primary;
}

.wrapper {
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
    
    @media (max-width: 640px) {
        width: 85%;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}
