// header styling

header {
    background: $primary;
    color: white;
    text-align: center;
    padding: 80px 0 30px;

    h1 + p {
        font-size: 1.8rem;
    }
}

nav {
    position: fixed;    
    top: 0;
    width: 100%;
    padding: 30px;
    background: $primary;
    font-weight: 600;

    .wrapper {
        display: flex;
        justify-content: flex-end;
    }

    p {
        margin: auto;
    }

    ul {
        width: 80px;
        position: absolute;
    }

    li {        
        
        a {
            padding: 10px 15px;    
            cursor: pointer;
            border: 2px solid white;
            border-radius: 15px;
        }
    }
}

